<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/styles.css">

    <title>Document</title>
</head>

<!-- This is the movie details page for the MDB results. It is different from the movie ejs page because the object keys have different names. It contains the details of the movie I want to display to the user including: the movie poster, title, release date, director, actors, and plot. This will display when the user selects a movie from the homepage OR the movie link from the MDB -->

<body>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Movie Details</h1>
                <p class="led text-muted">The nitty gritty lowdown.</p>
                <form action="http://localhost:8080/movieSearch" method="GET">
                    <input type="text" class="search-bar" name='movieTitle' placeholder="Movie Database" />
                    <button type='submit'>
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button>
                        <a href="http://localhost:8080/">Home</a>
                    </button>
                </form>
            </div>
        </section>
    </main>

    <div class="container">
        <div class="media">
            <div class="media-left">
                <img class="media-object-remote" src="https://image.tmdb.org/t/p/w200<%=remoteMovie.poster_path%>" />
            </div>
            <div class="media-body">
                <h2 class="featurette-heading">
                    <%= remoteMovie.title %>
                </h2>
                <p>
                    <%= remoteMovie.tagline %>
                </p>
                <h4>Released on:
                    <%= remoteMovie.release_date %>
                </h4>
                <h3 class="featurette body">Plot:</h3>
                <p>
                    <%= remoteMovie.overview %>
                </p>
            </div>
        </div>
    </div>

</body>

</html>